<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alviss.shoesstore">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_sneaker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_sneaker_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddShoes"></activity>
        <activity android:name=".ShoesList"></activity>
        <activity android:name=".ShoesDetail"></activity>
        <activity android:name=".CartView"></activity>
        <activity android:name=".PayBill"></activity>
        <activity android:name=".Infor"></activity>
    </application>

</manifest>